@media only screen and (max-width: 600px) {
   body {
      font-size: 35px;
   }
   h2 {
      margin-left: 35%;
      margin-right: 35%;
      width: 30%;
      text-align: center;
      font-size: 35px;
      color: cadetblue;
   }
   p {
      font-size: 32px;
   }
   #matches {
      margin: 5px;
      margin-left: 35%;
      margin-right: 35%;
      width: 30%;
      height: 30px;
      font-size: 22px;
   }
   #team {
      margin: 5px;
      margin-left: 35%;
      margin-right: 35%;
      width: 30%;
      height: 30px;
      font-size: 22px;
   }
   #penalties {
      margin: 5px;
      margin-left: 45%;
      margin-right: 45%;
      width: 10%;
      height: 30px;
      font-size: 22px;
   }
   #notes {
      margin: 5px;
      margin-left: 30%;
      margin-right: 30%;
      width: 40%;
      resize: none;
      border: 5px, solid, black;
   }
   #submit {
      margin-left: 42.5%;
      margin-right: 42.5%;
      width: 15%;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: lightskyblue;
      border: 10px, solid, gray;
      color: gray;
      font-size: 20px;
   }
 }
