h1{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    

    
}
.About_Zest {
    text-align: center;
    color: white;
    background-color: gray;
    height: 100 px;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;

}
h1.About_Us {
    text-align: center;
    color: white;

}
img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
    border: 0px;
}

.carousel-innter{
    height: 400px;
    align-items: center;
}

.Events{
    padding: 0px;
    margin: 0%;
}

.silly{
    margin: 0%;
    padding: 0%;
    color: black;
    font-size: 20px;
    
}

h2{
    color: white;
    margin: 0%;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}










    
